{% extends 'base.html.twig' %}

{% block title %}Liste des Etudes{% endblock %}

{% block body %}
<h1>Liste des Etudes</h1>
   {# <table class="table">
   <thead>
   <tr>


     <th>IdEtude</th>
    <th>Titre de L'étude</th> 

    

   </tr>
   </thead> #}
<tbody>
{% for etude in etudes %}

<div class="card">
  <div class="card-header">
    {{ etude.titreetude }}
  </div>
  <div class="card-body">
    {# <h5 class="card-title">{{ etude.titreetude }}</h5> #}
    <p class="card-text">Id De l'étude à virer un jour : {{ etude.idetude }}</p>
    <a href={{ path("etude_has_plage",{"id":etude.idetude}) }} class="btn btn-success">Plage en liens avec L'étude</a>
  </div>
</div>

<br>

    {# <tr>
     <td>{{ etude.idetude }}</td>
    <td>{{ etude.titreetude }}</td>

     </tr>
     <td>
    <a href={{ path("etude_has_plage",{"id":etude.idetude}) }}
    class="btn btn-primary"> 
    Plage en liens avec L'étude</a>

    </td>
    <td> #}
    
{% endfor %}

</tbody>
</table>



{% endblock %}
